{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% if edit %}
        <h1 class="mt-3">Editer un post</h1>
    {% else %}
        <h1 class="mt-3">Créer un post</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <button type="submit" class="btn btn-success">POSTER</button>
    {{ form_end(form) }}
{% endblock %}